@font-face {
    font-family: 'Actinia';
    src: url(../../resources/fonts/Actinia/Actinia-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url(../../resources/fonts/Inter/Inter-Light.otf);
    font-weight: 200;
}
@font-face {
    font-family: 'Inter';
    src: url(../../resources/fonts/Inter/Inter-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url(../../resources/fonts/Inter/Inter-Bold.otf);
    font-weight: 600;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
h1 {
    color: #F7F7F7;
    font-family: 'Actinia';
    font-weight: 400;
    font-size: 64px;
}
h2 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 36px;
}
h3 {
    font-family: 'Inter';
}
p {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 18px;
}
a {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
}
label {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* header start */
.header-items {
    display: flex;
    height: 20%;
    width: 100%;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.header-menu {
    display: flex;
    gap: 40px;
}
.header-menu-item {
    color: #F7F7F7;
}
.link-wrap {
    display: flex;
    width: 15%;
    color: #F7F7F7;
    gap: 20px;
}
.request {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.user > p {
    color: #F7F7F7;
}
.contact-form-wrap {
    height: 40px;
    width: 40px;
    background-image: url(../../resources/img/icons/message-icon.png);
    background-size: cover;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}
.user-logo {
    height: 40px;
    width: 40px;
    background-image: url(../../resources/img/icons/user-icon.png);
    background-size: cover;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.title-text {
    color: #F7F7F7;
}
.preview-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}
.title {
    text-align: center;
}
.title-text {
    width: 50%;
    text-align: center;
}
/* header end */

/* modal window start */
.modal-window-wrap {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba(0 0 0 / .2);
    justify-content: center;
    align-items: center;
}
.modal-show {
    display: flex;
}
.modal-window {
    width: 60vw;
    height: 75vh;
    padding: 30px 40px;
    background-color: #F7F7F7;
}
.request-wrap {
    display: flex;
    padding: 40px 40px;
    justify-content: space-between;
    border: solid #060606 3px;
}
.modal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 45%;
}
.modal-form-text {
    font-family: "Inter";
    padding: 10px 15px;
    background-color: #DEDEDE;
    border: none;
}
.modal-form-comment {
    font-family: "Inter";
    padding: 10px 15px 50px;
    background-color: #DEDEDE;
    border: none;
}
.modal-button-wrap {
    display: flex;
    justify-content: center;
}
.btn-submit {
    font-family: "Inter";
    width: 50%;
    background-color: transparent;
    border: solid 3px #060606;
    padding: 10px;
    cursor: pointer;
}
/* modal window end */


/* footer start */
.footer-color {
    background-color: #060606;
    padding: 50px 0 50px ;
}
.footer-container {
    color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.footer-menu {
    display: flex;
    gap: 30px;
}
.footer-menu-item {
    color: #F7F7F7;
}
.footer-contacts {
    display: flex;
    gap: 40px;
}
/* footer end */

/* error start */
.error {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7F7F7;
}
.error-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #060606;
    padding: 60px 150px;
    align-items: center;
}
.btn-to-main-wrap {
    margin-top: 20px;
}
.contact-button {
    box-sizing: border-box;
    color: #F7F7F7;
    border: solid #F7F7F7 1px;
    padding: 10px 25px;
}
