.bg-img {
    background-image: url(../../resources/img/bg-project.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.project-info {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
}
.project-info-container {
    display: flex;
    gap: 150px;
}
.project-info-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.project-info-blocks > button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;
}
.project-info-text {
    color: #F7F7F7;
}
.designStartImg {
    width: 100%;
}

.project-info-img-two {
    width: 49%;
}

.button-container {
    margin-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}
.btn-view-more {
    color: #060606;
    background-color: transparent;
    border: solid 3px #060606;
    padding: 15px 50px;
    cursor: pointer;
}
.designStartImg:not(:nth-child(-n + 4)) {
    display: none;
}
