.bg-img-catalog {
    background-image: url(../img/catalog-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.title-text {
    color: #F7F7F7;
}
.preview-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}
.title {
    text-align: center;
}
.title-text {
    width: 50%;
    text-align: center;
}
.search-wrap {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 45px;
}
.search {
    width: 50%;
    height: 100%;
    font-family: 'Inter';
    font-size: 16px;
    padding: 15px;
}
.search-btn {
    width: 45px;
    height: 100%;
}

.catalog-items {
    margin-top: 300px;
}

.design-start-items {
    margin-top: 50px;
    margin-bottom: 50px;
}

.design-start-items-after-trend {
    margin-top: 50px;
    margin-bottom: 50px;
}
#left {
    height: 31px;
    background-color: transparent;
    border: none;
}
#right {
    height: 31px;
    background-color: transparent;
    border: none;
}
.arrow {
    height: 100%;
}
.trend-bg {
    height: 100vh;
    background-color: #060606;
    padding-top: 70px;
    padding-bottom: 70px;
}

.trend {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.trend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.slides {
    display: flex;
    overflow: hidden;
}
.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    flex-shrink: 0;
}
.trend-img {
    width: 100%;
}
.trend-title {
    color: #F7F7F7;
}
.trend-text {
    width: 70%;
    color: #F7F7F7;
    text-align: center;
}


.button-container {
    margin-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}
.btn-view-more {
    color: #060606;
    background-color: transparent;
    border: solid 3px #060606;
    padding: 15px 50px;
    cursor: pointer;
}

.designStartImg:not(:nth-child(-n + 4)) {
    display: none;
}
